//  Variable
$height-header: 12.2rem;
$height-header-mobile: 6.9rem;
$padding-top-and-bottom-header: 3rem;
$padding-top-and-bottom-header-mobile: 1.2rem;
$bs-gap: 5rem;
$color-white: #FFFFFF;
$color-black: #000000;
$color-one: #212121;
$color-two: #211E3B;
$color-three: #FFE4E4;
$color-four: #C40000;
